@charset "utf-8";

:root {
  --font-M_PLUS_1p: 'M PLUS 1p', sans-serif;
}

.wrap {
  overflow: hidden;
  letter-spacing: -0.2px;
}

.wrap .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.main-header .contents {
  display: flex;
  height: 88px;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

.main-header .contents .layout {
  display: flex;
  align-items: center;
}

.main-header .logo {
  margin: 0 50px 0 0;
}

.main-header .logo img {
  display: block;
  height: 16px;
}

.main-header .gnb-list {
  display: flex;
}

.main-header .gnb-item {
  position: relative;
  margin: 0 40px 0 0;
}

.main-header .gnb-item.on {
  position: relative;
}

.main-header .gnb-item.on::after {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
}

.main-header .gnb-item::after {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 3px;
  background-color: #08b33b;
  content: '';
  transform-origin: 0 50%;
  transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.2), -webkit-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main-header .gnb-item:hover::after {
  width: 100%;
  background-color: #fff;
}

.main-header .gnb-link {
  color: #fff;
  font-weight: 700;
  font-family: var(--font-M_PLUS_1p);
  line-height: 88px;
}

.main-header .util {
  display: flex;
  position: relative;
  width: 112px;
  justify-content: space-between;
}

.main-header .util::after {
  position: absolute;
  top: 50%;
  left: 74px;
  width: 1px;
  height: 18px;
  background-color: #e5e5e5;
  content: '';
  transform: translate(0, -50%);
}

.main-header .util.off::after {
  content: none;
}

.main-header .util .language {
  position: relative;
  padding: 0 10px 0 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-M_PLUS_1p);
  transition: all 0.3s ease-out;
}

.main-header .util .language::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../image/icon_w.png') no-repeat;
  background-size: cover;
  content: '';
  transition: all 0.3s ease-out;
}

.main-header .util .language::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 3px;
  background: url('../image/icon_whtie_arr.png') no-repeat;
  background-size: cover;
  content: '';
  transform: translate(0, -50%);
  transition: all 0.3s ease-out;
}

.main-header .util .language:hover,
.main-header .util .language:hover::before,
.main-header .util .language:hover::after {
  opacity: 0.6;
}

.main-header .util .language-change {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 72px;
  padding: 14px 0;
  border: 1px solid #fff;
  color: #fff;
}

.main-header .util .language-change.on {
  display: block;
}

.main-header .util .change-item+.change-item {
  margin: 8px 0 0 0;
}

.main-header .util .change-btn {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 14px;
}

.main-header .util .change-btn:hover {
  opacity: 0.6;
}

.main-header .util .search-btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../image/icon_sew.png') no-repeat;
  background-size: cover;
}

.main-header .util .search-btn.off {
  display: none;
}

.main-header .mobile-util {
  display: none;
}

.main-container {
  /* padding:88px 0 0 0; */
}

.page-more-area {
  position: relative;
  width: 66px;
  height: 65px;
}

.page-more {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31px;
  height: 25px;
  background-image: url('../image/bg_image.png');
  background-repeat: no-repeat;
  background-position: -257px -26px;
  background-size: 332px;
  transform: translate(-50%, -50%);
}

.page-more.on {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66px;
  height: 65px;
  background-position: -186px -6px;
  transform: translate(-50%, -50%);
}

.page-scroll {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: translate(0, -50%);
}

.page-scroll .scroll {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.page-scroll .scroll::after {
  display: inline-block;
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
  transform: translate(50%, 0) rotate(135deg);
}

.scroll-top {}

.sub-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.sub-header .contents {
  display: flex;
  height: 88px;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

.sub-header .contents .layout {
  display: flex;
  align-items: center;
}

.sub-header .logo {
  margin: 0 50px 0 0;
}

.sub-header .logo img {
  display: block;
  height: 16px;
}

.sub-header .gnb-list {
  display: flex;
}

.sub-header .gnb-item {
  position: relative;
  margin: 0 40px 0 0;
}

.sub-header .gnb-item.on {
  position: relative;
}

.sub-header .gnb-item.on::after {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: '';
}

.sub-header .gnb-item::after {
  position: absolute;
  left: 0;
  bottom: 26px;
  width: 0;
  height: 3px;
  background-color: #08b33b;
  content: '';
  transform-origin: 0 50%;
  transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.2), -webkit-transform .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sub-header .gnb-item:hover::after {
  width: 100%;
  background-color: #000;
}

.sub-header .gnb-link {
  font-weight: 700;
  font-family: var(--font-M_PLUS_1p);
  line-height: 88px;
}

.sub-header .util {
  display: flex;
  position: relative;
  width: 112px;
  justify-content: space-between;
}

.sub-header .util::after {
  position: absolute;
  top: 50%;
  left: 74px;
  width: 1px;
  height: 18px;
  background-color: #e5e5e5;
  content: '';
  transform: translate(0, -50%);
}

.sub-header .util .language {
  position: relative;
  padding: 0 10px 0 28px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-M_PLUS_1p);
}

.sub-header .util .language::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../image/icon_b.png') no-repeat;
  background-size: cover;
  content: '';
}

.sub-header .util .language::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 3px;
  background: url('../image/icon_arr.png') no-repeat;
  background-size: cover;
  content: '';
  transform: translate(0, -50%);
}

.sub-header .util .language:hover,
.sub-header .util .language:hover::before,
.sub-header .util .language:hover::after {
  opacity: 0.6;
}

.sub-header .util .language-change {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 72px;
  padding: 14px 0;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease;
}

.sub-header .util .language-change.on {
  display: block;
}

.sub-header .util .change-item+.change-item {
  margin: 8px 0 0 0;
}

.sub-header .util .change-btn {
  display: block;
  width: 100%;
  color: #000;
  font-size: 14px;
}

.sub-header .util .change-btn:hover {
  opacity: 0.6;
}

.sub-header .util .search-btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url('../image/icon_se.png') no-repeat;
  background-size: cover;
}

.sub-header .mobile-util {
  display: none;
}

.sub-container {
  padding: 88px 0 0 0;
}

.sub-container .title {
  margin: 0 0 16px 0;
  font-size: 60px;
  font-weight: 700;
  font-family: var(--font-M_PLUS_1p);
  letter-spacing: -2.0px;
}

.sub-container .tab-list {
  display: flex;
  width: 890px;
  justify-content: space-between;
}

.sub-container .tab-item a {
  color: #9fa0a1;
  font-size: 18px;
  font-family: var(--font-M_PLUS_1p);
}

.sub-container .tab-item.on a {
  color: #08b33b;
}

.sub-container .tab-item a:hover {
  color: #08b33b;
}

.util .search-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.util .search-bg.on {
  display: block;
}

.util .search-contetns {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  padding: 0 32px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
}

.util .search-contetns .logo {
  display: flex;
  align-items: center;
}

.util .search-contetns .logo-img {
  display: block;
  height: 16px;
}

.util .search-contetns .search {
  display: flex;
  width: 700px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.util .search-contetns .search-bar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 554px;
  height: 88px;
  border: none;
  background-color: #fff;
}

.util .search-contetns .search-btn {
  background: url('../image/icon_se.png') no-repeat;
  background-size: cover;
}

.util .search-contetns input {
  width: 550px;
  padding: 0 0 0 6px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.util .search-contetns .close {
  width: 24px;
  height: 24px;
  background-image: url('../image/bg_image.png');
  background-repeat: no-repeat;
  background-position: -86px -130px;
  background-size: 418px 264px;
}

.tab-btn .tab-list {
  width: 1069px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tab-btn .tab-item {
  margin: 0 8px 12px 0;
}

.tab-btn .tab-item.on a {
  border: 1px solid #08b33b;
  background-color: #08b33b;
  color: #fff;
}

.tab-btn .tab-item a {
  position: relative;
  height: 34px;
  padding: 0 16px;
  border: 1px solid #e1e1e1;
  border-radius: 27px;
  color: #9fa0a1;
  font-weight: 700;
  line-height: 34px;
  box-sizing: border-box;
}

.tab-btn .tab-item a::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url('../image/culture_tab_icon.png');
  background-repeat: no-repeat;
  background-size: 204px;
  content: '';
  transform: translate(0, -50%);
}

.tab-btn .tab-item a:hover {
  border: 1px solid #08b33b;
  background-color: #08b33b;
  color: #fff;
}

.tab-btn .tab-item .txt {
  position: relative;
  padding: 0 0 0 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-M_PLUS_1p);
}

.tab-btn .tab-item .All-txt {
  padding: 0;
}

.tab-btn .tab-item .Bangkok::after { left: 10px; width: 19px; height: 15px; background-position: -10px -10px; }
.tab-btn .tab-item .Bangkok:hover::after { background-position: -32px -10px; }
.tab-btn .tab-item.on .Bangkok::after { background-position: -32px -10px; }

.tab-btn .tab-item .Bundang::after { left: 14px; width: 14px; height: 14px; background-position: -61px -10px; }
.tab-btn .tab-item .Bundang:hover::after { background-position: -79px -10px; }
.tab-btn .tab-item.on .Bundang::after {background-position: -79px -10px; }

.tab-btn .tab-item .Dalian::after { left: 14px; width: 13px; height: 16px; background-position: -102px -10px; }
.tab-btn .tab-item .Dalian:hover::after { background-position: -119px -10px; }
.tab-btn .tab-item.on .Dalian::after { background-position: -119px -10px; }

.tab-btn .tab-item .Fukuoka::after { left: 18px; width: 8px; height: 21px; background-position: -140px -10px; }
.tab-btn .tab-item .Fukuoka:hover::after { background-position: -151px -10px; }
.tab-btn .tab-item.on .Fukuoka::after { background-position: -151px -10px; }

.tab-btn .tab-item .Hong-Kong::after { left: 12px; width: 11px; height: 20px; background-position: -168px -10px; }
.tab-btn .tab-item .Hong-Kong:hover::after { background-position: -183px -10px; }
.tab-btn .tab-item.on .Hong-Kong::after { background-position: -183px -10px; }

.tab-btn .tab-item .Jakarta::after { left: 16px; width: 12px; height: 17px; background-position: -10px -37px; }
.tab-btn .tab-item .Jakarta:hover::after { background-position: -25px -37px; }
.tab-btn .tab-item.on .Jakarta::after { background-position: -25px -37px; }

.tab-btn .tab-item .Kyoto::after { left: 14px; width: 15px; height: 19px; background-position: -47px -36px; }
.tab-btn .tab-item .Kyoto:hover::after { background-position: -67px -36px; }
.tab-btn .tab-item.on .Kyoto::after { background-position: -67px -36px; }

.tab-btn .tab-item .New-York::after { left: 16px; width: 11px; height: 20px; background-position: -91px -36px; }
.tab-btn .tab-item .New-York:hover::after { background-position: -106px -36px; }
.tab-btn .tab-item.on .New-York::after { background-position: -106px -36px; }

.tab-btn .tab-item .Palo-Alto::after { left: 10px; width: 22px; height: 13px; background-position: -125px -41px; }
.tab-btn .tab-item .Palo-Alto:hover::after { background-position: -150px -41px; }
.tab-btn .tab-item.on .Palo-Alto::after { background-position: -150px -41px; }

.tab-btn .tab-item .Seoul::after { left: 10px; width: 16px; height: 13px; background-position: -10px -65px; }
.tab-btn .tab-item .Seoul:hover::after { background-position: -31px -65px; }
.tab-btn .tab-item.on .Seoul::after { background-position: -31px -65px; }

.tab-btn .tab-item .Shanghai::after { left: 16px; width: 10px; height: 20px; background-position: -57px -65px; }
.tab-btn .tab-item .Shanghai:hover::after { background-position: -71px -65px; }
.tab-btn .tab-item.on .Shanghai::after { background-position: -71px -65px; }

.tab-btn .tab-item .Taipei::after { left: 18px; width: 8px; height: 20px; background-position: -91px -65px; }
.tab-btn .tab-item .Taipei:hover::after { background-position: -103px -65px; }
.tab-btn .tab-item.on .Taipei::after { background-position: -103px -65px; }

.tab-btn .tab-item .Tokyo::after { left: 16px; width: 10px; height: 19px; background-position: -121px -65px; }
.tab-btn .tab-item .Tokyo:hover::after { background-position: -135px -65px; }
.tab-btn .tab-item.on .Tokyo::after { background-position: -135px -65px; }

.sub-container .more-btn {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  background-image: url('../image/icon_more.png');
  background-repeat: no-repeat;
  background-position: -56px 0;
  background-size: cover;
}

.sub-container .more-btn:hover {
  background-position: 0 0;
}

.sub-container .bot-banner .inner {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.sub-container .bot-banner .bg {
  display: flex;
  height: 550px;
  background-image: url('../image/culture_bot_all.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
}

.sub-container .bot-banner .tit {
  display: block;
  margin: 0 0 36px 0;
  color: #fff;
  font-size: 40px;
}

.sub-container .bot-banner .tit-desc {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

select {
  display: none;
}

/* 스크롤 css 제어 */
.main-container .post,
.main-container .profile {
  opacity: 0;
  transform: translate(0, 200px);
  transition: all 1.5s ease;
}

.main-container .scroll-js {
  opacity: 1;
  transform: translate(0, 0);
}

.sub-footer .inner {
  display: flex;
  position: relative;
  height: 104px;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
}

.sub-footer .inner::after {
  position: absolute;
  top: 0;
  left: 32px;
  right: 32px;
  height: 1px;
  background-color: #e1e1e1;
  content: '';
}

.sub-footer .info-wrap {
  display: flex;
}

.sub-footer .info-wrap address {
  margin: 0 50px 0 0;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-M_PLUS_1p);
}

.sub-footer .info-wrap strong {
  font-size: 14px;
}

.sub-footer .family {
  display: flex;
}

.sub-footer .drop-down {
  margin: 0 40px 0 0;
}

.sub-footer .drop-down .btn {
  position: relative;
  padding: 0 14px 0 0;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-M_PLUS_1p);
}

.sub-footer .drop-down .btn::after {
  display: inline-block;
  position: absolute;
  top: 6px; /* 기본 0px 값으로 해주세요 */
  right: 0; /* 기본 0px 값으로 해주세요 */
  width: 6px; /* 사이즈 */
  height: 6px; /* 사이즈 */
  border-top: 1px solid #121212; /* 선 두께 */
  border-right: 1px solid #121212; /* 선 두께 */
  content: '';
  transform: rotate(135deg); /* 각도 */
}

.sub-footer .language-wrap {
  display: none;
}

.sub-footer .sns-icon-list {
  display: flex;
}

.sub-footer .sns-icon-list li {
  margin: 0 20px 0 0;
}

.sub-footer .sns-icon-list li:last-child {
  margin: 0;
}

.sub-footer .sns-icon-list a {
  width: 100%;
  height: 26px;
  background-image: url('../image/icon_sns.png');
  background-repeat: no-repeat;
  background-size: 122px 26px;
}

.sub-footer .sns-icon-list .instagram {
  width: 24px;
  background-position: 1px 0;
}

.sub-footer .sns-icon-list .facebook {
  width: 27px;
  background-position: -29px 0;
}

.sub-footer .sns-icon-list .linkedin {
  width: 28px;
  background-position: -62px 0;
}

.sub-footer .sns-icon-list .youtube {
  width: 27px;
  background-position: -96px 0;
}





/* 320px ~ 1280px */
@media all and (min-width:320px) and (max-width:1280px) {
  .main-header .gnb {
    display: none;
  }

  .main-header .util {
    width: 58px;
  }

  .main-header .util::after {
    content: none;
  }

  .main-header .util .language {
    display: none;
  }

  .main-header .util .search-btn {
    width: 18px;
    height: 18px;
  }

  .main-header .mobile-util {
    display: block;
    position: relative;
    z-index: -1;
    width: 24px;
  }

  .main-header .mobile-util .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    transform: translate(-50%, -50%);
  }

  .main-header .mobile-util .line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 0 8px 0;
    background-color: #000;
  }

  .main-header .mobile-util .line:last-child {
    margin: 0;
  }

  .main-header .mobile-util {
    display: block;
    position: relative;
    width: 24px;
  }

  .main-header .mobile-util .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    transform: translate(-50%, -50%);
  }

  .main-header .mobile-util .line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 0 8px 0;
    background-color: #fff;
  }

  .main-header .mobile-util .line:last-child {
    margin: 0;
  }

  .sub-header .gnb {
    display: none;
  }

  .sub-header .util {
    width: 58px;
  }

  .sub-header .util::after {
    content: none;
  }

  .sub-header .util .language {
    display: none;
  }

  .sub-header .util .search-btn {
    width: 18px;
    height: 18px;
  }

  .sub-header .mobile-util {
    display: block;
    position: relative;
    z-index: -1;
    width: 24px;
  }

  .sub-header .mobile-util .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    transform: translate(-50%, -50%);
  }

  .sub-header .mobile-util .line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 0 8px 0;
    background-color: #000;
  }

  .sub-header .mobile-util .line:last-child {
    margin: 0;
  }

  .sub-container .title {
    font-size: 40px;
  }

  .tab-btn .tab-list {
    width: auto;
    white-space: nowrap;
    flex-wrap: initial;
    justify-content: initial;
  }

  .sub-container .bot-banner .bg {
    height: auto;
  }

  .sub-container .bot-banner .inner {
    padding: 32px;
  }

  select {
    display: block;
    width: 140px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    background-image: url('../image/icon_arr.png');
    background-repeat: no-repeat;
    background-position: center right 14px;
    font-size: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .util .search-contetns {
    padding: 0 32px;
  }

  .util .search-contetns input {
    width: 78.571428%;
  }

  .sub-footer .inner {
    height: 206px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .sub-footer .family {
    margin: 0 0 30px 0;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }

  .sub-footer .info-wrap {
    justify-content: flex-end;
    flex-direction: column-reverse;
  }

  .sub-footer .info-wrap strong {
    margin: 0 0 12px 0;
  }

  .sub-footer .sns-icon {
    margin: 0 0 20px 0;
  }

  .sub-footer .sns-icon-list {
    width: 186px;
    justify-content: space-between;
  }

  .sub-footer .drop-down {
    display: flex;
    width: 207px;
    margin: 0;
    justify-content: space-between;
  }

  .sub-footer .language-wrap {
    display: block;
  }

  .sub-footer .util .language {
    position: relative;
    padding: 0 10px 0 28px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-M_PLUS_1p);
  }

  .sub-footer .util .language::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    background: url('../image/icon_b.png') no-repeat;
    background-size: cover;
    content: '';
    transform: translate(0, -50%);
  }

  .sub-footer .util .language::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 5px;
    height: 3px;
    background: url('../image/icon_arr.png') no-repeat;
    background-size: cover;
    content: '';
    transform: translate(0, -50%);
  }
}

@media all and (min-width:320px) and (max-width:1024px) {
  .util .search-contetns .logo {
    display: none;
  }

  .util .search-contetns .search {
    width: 100%;
  }
}