@charset "utf-8";

.jobs.open {
  position: relative;
}

.jobs .visual {
  position: relative;
}

.jobs .visual::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e1e1e1;
  content: '';
}

.jobs .visual .inner {
  display: flex;
  height: 264px;
  overflow: hidden;
  align-items: center;
}

.jobs-contents.open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.jobs-contents .inner.open {
  height: 100%;
}

.jobs-contents .contents {
  display: flex;
  padding: 68px 0 40px 0;
  justify-content: space-between;
}

.jobs-contents .contents.open {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jobs-contents .contents .rsp-btn {
  display: none;
}

.filters {
  width: 288px;
  height: calc(100vh - 88px);
}

.filters .scroll {
  height: calc(100% - 144px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.filters .scroll::-webkit-scrollbar {
  display: none;
}

.filters .wrap-tit {
  display: flex;
  margin: 0 0 36px 0;
  justify-content: space-between;
}

.filters .wrap-tit .tit {
  font-size: 20px;
}

.filters .wrap-tit .btn {
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  font-size: 12px;
}

.filters .filters-list .tit {
  display: block;
  margin: 0 0 16px 0;
}

.filters .detail-list {
  max-height: 200px;
  overflow-x: hidden;
}

.filters .detail-list li {
  margin: 0 0 12px 0;
}

input[type="checkbox"] {
  position: absolute;
  left: -3000%;
}

input[type="checkbox"]+label {
  position: relative;
  color: #777;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-M_PLUS_1p);
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  border: 1px solid #e5e5e5;
  content: '';
  /* transition:all 0.5s ease; */
}

input[type="checkbox"]+label:hover::before {
  background-color: #f1f1f1; /* label 태그 마우스 오버하면 나타나는 코드 */
}

input[type="checkbox"]:checked+label::before {
  border: 1px solid #08b33b; /* 버튼 스타일 */
}

input[type="checkbox"]:checked+label:hover::before {
  background-color: #fff; /* label 태그 마우스 오버하면 나타나는 코드 */
}

input[type="checkbox"]:checked+label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 13px;
  height: 10px;
  background-image: url('../../image/icon.png');
  background-repeat: no-repeat;
  background-position: -76px -57px;
  background-size: 96px 68px;
  content: '';
  transform: translate(0, -50%);
  /* 버튼 스타일 안에 체크 화살표 이미지 등 넣는 스타일 */
  /* transition:all 0.5s ease 0.7s; */
}

.filters .apply-btn {
  display: none;
}

.filters .close-btn {
  display: none;
}

.job-posting {
  width: 864px;
}

.job-posting .job-count {
  color: #08b33b;
  font-size: 20px;
  font-weight: 700;
}

.job-posting span {}

.job-posting .count {}

.job-posting .content-wrap {
  padding: 0 0 40px 0;
}

.job-posting .job-list {}

.job-posting .job-list li {}

.job-posting .job-list a {
  display: flex;
  position: relative;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

.job-posting .job-list a::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #eee;
  content: '';
}

.job-posting .job-tit {}

.job-posting .job-tit .tit {
  font-size: 26px;
  font-weight: 700;
}

.job-posting .job-tit .list {
  display: flex;
  margin: 12px 0 0 0;
  flex-wrap: wrap;
}

.job-posting .job-tit .item {
  position: relative;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  color: #616161;
  font-size: 14px;
  font-weight: 300;
}

.job-posting .job-tit .item::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  background-color: #616161;
  content: '';
  transform: translate(0, -50%);
}

.job-posting .job-tit .item:last-child::after {
  content: none;
}

.job-posting .job-list .date {
  color: #616161;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -1px;
}





/* 768px ~ 1280px */
@media all and (min-width:768px) and (max-width:1280px) {
  .jobs .visual .inner {
    display: block;
    height: auto;
    padding: 24px 32px;
  }

  .jobs .contents-list a {
    width: auto;
    margin: 0 32px;
  }

  .jobs .contents-list li {
    width: 33.3%;
    margin: 0 0 60px 0;
  }

  .jobs .txt-box .txt {
    font-size: 16px;
  }

  .jobs .txt-box .txt-desc {
    font-size: 14px;
  }

  .jobs-contents .inner {
    padding: 24px 32px;
  }

  .jobs-contents .more-btn {
    display: none;
  }

  .jobs-contents .contents {
    position: relative;
    padding: initial;
  }

  .jobs-contents .contents.open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: initial;
  }

  .jobs-contents .contents .rsp-btn {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0 12px;
    border: 1px solid #000;
  }

  .filters {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    padding: 105px 20px 100px;
    overflow: auto;
    background-color: #fff;
  }

  .filters.open {
    display: block;
    position: relative;
  }

  .filters .scroll {
    height: auto;
  }

  .filters .wrap-tit {
    margin: 0 0 8px 0;
  }

  .filters .filters-list .filters-item {
    position: relative;
  }

  .filters .filters-list .filters-item::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ddd;
    content: '';
  }

  .filters .filters-list .tit {
    display: flex;
    position: relative;
    height: 64px;
    margin: initial;
    align-items: center;
  }

  .filters .filters-list .tit::after {
    display: inline-block;
    position: absolute;
    top: calc(50% - 3px); /* 기본 0px 값으로 해주세요 */
    right: 8px; /* 기본 0px 값으로 해주세요 */
    width: 6px; /* 사이즈 */
    height: 6px; /* 사이즈 */
    border-top: 2px solid #121212; /* 선 두께 */
    border-right: 2px solid #121212; /* 선 두께 */
    content: '';
    transform: rotate(135deg);
    transform: rotate(135deg) translate(-50%, 0%); /* 각도 */
  }

  .filters .detail-list {
    display: none;
  }

  .filters .apply-btn {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 68px;
    background-color: #08b33b;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  .filters .close-btn {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
    height: auto;
  }

  .close-btn .line-box {
    position: relative;
    width: 20px; /* X 사이즈 */
    height: 20px; /* X 사이즈 */
  }

  .close-btn .line-box>span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .close-btn .line-01 {
    transform: rotate(135deg) translateX(0%);
  }

  .close-btn .line-02 {
    transform: rotate(45deg) translateX(0%);
  }

  .job-posting {
    width: 100%;
  }

  .job-posting.open {
    display: none;
  }

  .job-posting .job-count {
    font-size: 14px;
  }

  .job-posting .job-list {
    margin: 8px 0 0 0;
  }

  .job-posting .job-list a {
    display: block;
    padding: 24px 0;
  }

  .job-posting .job-tit .tit {
    font-size: 22px;
    font-weight: 400;
  }
}

/* 320px ~ 767px */
@media all and (min-width:320px) and (max-width:767px) {
  .jobs .visual .inner {
    display: block;
    height: auto;
    padding: 24px 32px;
  }

  .jobs .contents-list a {
    width: auto;
    margin: 0 16px;
  }

  .jobs .contents-list li {
    width: 50%;
    margin: 0 0 32px 0;
  }

  .jobs .txt-box .txt {
    font-size: 16px;
  }

  .jobs .txt-box .txt-desc {
    font-size: 14px;
  }

  .jobs-contents .inner {
    padding: 24px 32px;
  }

  .jobs-contents .more-btn {
    display: none;
  }

  .jobs-contents .contents {
    position: relative;
    padding: initial;
  }

  .jobs-contents .contents.open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: initial;
  }

  .jobs-contents .contents .rsp-btn {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0 12px;
    border: 1px solid #000;
  }

  .filters {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    padding: 105px 20px 100px;
    overflow: auto;
    background-color: #fff;
  }

  .filters.open {
    display: block;
    position: relative;
  }

  .filters .scroll {
    height: auto;
  }

  .filters .wrap-tit {
    margin: 0 0 8px 0;
  }

  .filters .filters-list .filters-item {
    position: relative;
  }

  .filters .filters-list .filters-item::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ddd;
    content: '';
  }

  .filters .filters-list .tit {
    display: flex;
    position: relative;
    height: 64px;
    margin: initial;
    align-items: center;
  }

  .filters .filters-list .tit::after {
    display: inline-block;
    position: absolute;
    top: calc(50% - 3px); /* 기본 0px 값으로 해주세요 */
    right: 8px; /* 기본 0px 값으로 해주세요 */
    width: 6px; /* 사이즈 */
    height: 6px; /* 사이즈 */
    border-top: 2px solid #121212; /* 선 두께 */
    border-right: 2px solid #121212; /* 선 두께 */
    content: '';
    transform: rotate(135deg);
    transform: rotate(135deg) translate(-50%, 0%); /* 각도 */
  }

  .filters .detail-list {
    display: none;
  }

  .filters .apply-btn {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 68px;
    background-color: #08b33b;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  .filters .close-btn {
    display: block;
    position: absolute;
    top: 24px;
    right: 20px;
    height: auto;
  }

  .close-btn .line-box {
    position: relative;
    width: 20px; /* X 사이즈 */
    height: 20px; /* X 사이즈 */
  }

  .close-btn .line-box>span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .close-btn .line-01 {
    transform: rotate(135deg) translateX(0%);
  }

  .close-btn .line-02 {
    transform: rotate(45deg) translateX(0%);
  }

  .job-posting {
    width: 100%;
  }

  .job-posting.open {
    display: none;
  }

  .job-posting .job-count {
    font-size: 14px;
  }

  .job-posting .job-list {
    margin: 8px 0 0 0;
  }

  .job-posting .job-list a {
    display: block;
    padding: 24px 0;
  }

  .job-posting .job-tit .tit {
    font-size: 22px;
    font-weight: 400;
  }
}