@charset "utf-8";

.main .title {
  font-size: 60px;
  line-height: 50px;
  font-family: 'LineSeed', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0 0 64px 0;
}

header {
  transition: all 0.5s ease;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  vertical-align: top;
}

.visual {
  position: relative;
}

.visual::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.visual .inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.visual .text-box {
  position: absolute;
  top: calc(50% - 24px);
  left: 32px;
  z-index: 1;
  transform: translate(0, -50%);
  width: 720px;
}

.visual .text-box .title {
  font-size: 90px;
  color: #fff;
  font-family: 'LineSeed', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 100px;
  margin: 0 0 52px 0;
}

.visual .text-list {
  display: flex;
  align-items: center;
}

.visual .text-list .list {
  position: relative;
  display: flex;
  width: 600px;
  height: 50px;
  margin: 0 24px 0 0;
  align-items: center;
  justify-content: space-between;
}

.visual .text-list .list::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #fff;
}

.visual .text-list .item {
  width: 33%;
}

.visual .text-list .txt {
  position: relative;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 24px 0 0;
}

.visual .text-list .txt::after {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  display: inline-block;
  transform: translate(0, -50%) rotate(135deg);
  position: absolute;
  top: calc(50% - 6px);
  right: 24px;
}

.post .contents {
  padding: 120px 0;
}

.post .list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 32px);
  margin: 0 0 0 -16px;
}

.post .list .item {
  width: calc(50% - 32px);
  margin: 0 16px 72px 16px;
}

.post .list .thumbnail-box {
  position: relative;
  width: 100%;
  /* height: 244px; */
  padding-top: 57.534246%; /* (자식 ÷ 부모) × 100 = 높이값 */
  overflow: hidden;
  margin: 0 0 24px 0;
}

.post .list .thumbnail-bg {
  background-image: url('../../image/main_post_thumbnail.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: auto;
  /* height: 336px; */
  padding-top: 57.534246%; /* (자식 ÷ 부모) × 100 = 높이값 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
}

.post .list .txt-box {
  width: 532px;
}

.post .list .txt {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 14px 0;
}

.post .list .txt-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #616161;
}

.contents-more {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 0;
  font-weight: 700;
  font-family: 'LineSeed', sans-serif;
}

.contents-more::after {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid #121212;
  border-right: 2px solid #121212;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  right: 2px;
}

.profile {
  position: relative;
  background-color: #f7f8f9;
}

.profile .bg {
  background-image: url('../../image/main_profile_bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profile .inner {
  position: relative;
  z-index: 1;
}

.profile .contents {
  height: 100%;
  padding: 120px 0;
}

.profile .title {
  color: #fff;
}

.profile .list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 32px);
  margin: 0 0 72px -16px;
}

.profile .list-item {
  width: calc(33.33% - 32px);
  margin: 0 16px;
  background-color: #fff;
  box-sizing: border-box;
}

.profile .list-item a {
  padding: 32px;
  position: relative;
}

.profile .list-item a:hover::after {
  opacity: 1;
}

.profile .list-item a::after {
  content: '';
  background-image: url('../../image/main_profile_list_04.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

.profile .list-item .tit {
  position: relative;
  z-index: 1;
  display: block;
  height: 152px;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  transition: color 0.3s ease;
}

.profile .list-item a:hover .tit {
  color: #fff;
}

.profile .list-item .txt-name {
  display: block;
  font-size: 28px;
  font-weight: 700;
}

.profile .list-item .job {
  display: block;
  font-weight: 700;
  margin: 0 0 32px 0;
}

.profile .list-item .desc {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #616161;
}

.profile .list-item .more {
  position: absolute;
  left: 32px;
  bottom: 32px;
  z-index: 10;
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile .list-item a:hover .more {
  color: #fff;
  opacity: 1;
}

.sub-footer {
  background-color: #f7f8f9;
}










/* 768px ~ 1280px */
@media all and (min-width: 768px) and (max-width: 1280px) {
  .main .title {margin: 0 0 64px 0; font-size: 32px; line-height: 40px;}

  .visual .text-box {width: 386px; left: 64px;}
  .visual .text-box .title {font-size: 50px; line-height: 50px; margin: 0 0 25px 0;}
  .visual .text-list {flex-direction: column; align-items: flex-start; padding: 0 80px 0 0;}
  .visual .text-list .list {flex-direction: column; align-items: flex-s tart; margin: 0 0 52px 0; width: 100%; height: 100%;}
  .visual .text-list .list::after {content: none;}
  .visual .text-list .item {position: relative; width: 100%;}
  .visual .text-list .item::after {content: ''; position: absolute; right: 0; bottom: 0; left: 0; height: 2px; background-color: #fff;}
  .visual .text-list .txt {margin: initial;}
  .visual .text-list .txt::after {right: 6px;}

  .post .title {font-size: 36px;}
  .post .list .item {width: initial;}
  .post .list .txt-box {width: initial;}

  .profile .bg {background-image: url('../../image/main_m_profile_bg.jpg'); background-size: cover; height: 261px;}
  .profile .contents {padding: 60px 0;}
  .profile .list-item {width: 100%; margin: 0 16px 32px 16px;}
  .profile .list-item a::after {content: none;}
  .profile .list-item a:hover .tit {color: initial;}
  .profile .list-item a:hover .more {display: none;}
}

/* 320px ~ 767px */
@media all and (min-width: 320px) and (max-width: 767px) {
  .main .title {margin: 0 0 64px 0; font-size: 32px; line-height: 40px;}

  .visual .text-box {width: auto; left: 0; padding: 0 32px; box-sizing: border-box;}
  .visual .text-box .title {font-size: 32px; line-height: 50px; margin: 0 0 25px 0;}
  .visual .text-list {flex-direction: column; align-items: flex-start;}
  .visual .text-list .list {flex-direction: column; align-items: flex-start; margin: 0 0 52px 0; width: 100%; height: 100%;}
  .visual .text-list .list::after {content: none;}
  .visual .text-list .item {position: relative; width: 100%;}
  .visual .text-list .item::after {content: ''; position: absolute; right: 0; bottom: 0; left: 0; height: 2px; background-color: #fff;}
  .visual .text-list .txt {margin: initial;}
  .visual .text-list .txt::after {right: 6px;}

  .post .title {font-size: 36px;}
  .post .list .item {width: initial;}
  .post .list .txt-box {width: initial;}
  
  .profile .bg {background-image: url('../../image/main_m_profile_bg.jpg'); background-size: cover; height: 261px;}
  .profile .contents {padding: 60px 0;}
  .profile .list-item {width: 100%; margin: 0 16px 32px 16px;}
  .profile .list-item a::after {content: none;}
  .profile .list-item a:hover .tit {color: initial;}
  .profile .list-item a:hover .more {display: none;}
}