@charset "utf-8";

.sub-header .gnb-item.on {
  position: relative;
}

.sub-header .gnb-item.on::after {
  content: '';
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.people .visual {
  position: relative;
}

.people .visual::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #e1e1e1;
}

.people .visual .inner {
  display: flex;
  align-items: center;
  height: 264px;
  overflow: hidden;
}

.people .visual .title {
  margin: 0 0 16px 0;
}

.people .contents-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.people .contents-list li {
  width: 25%;
  margin: 0 0 80px 0;
}

.people .contents-list a {
  width: 210px;
  margin: 0 auto;
}

.people .contents-list figure {
  margin: 0 0 20px 0;
}

.people .contents-list img {
  width: 100%;
  border-radius: 50%;
}

.people .txt-box {
  text-align: center;
}

.people .txt-box .txt {
  font-size: 18px;
}

.people .txt-box .txt-desc {
  color: #999999;
  font-weight: 300;
}

.people-contents .inner {
  max-width: 1320px;
  padding: 70px 0 0 0;
}










/* 768px ~ 1280px */
@media all and (min-width: 768px) and (max-width: 1280px) {
  .people .visual .inner {height: 154px;}
  .people .contents-list a {width: auto;margin: 0 32px;}
  .people .contents-list li {width: 33.3%;margin: 0 0 60px 0;}
  .people .txt-box .txt {font-size: 16px;}
  .people .txt-box .txt-desc {font-size: 14px;}
  .people-contents .inner {padding: 24px 0 0 0;}
  .people-contents .more-btn {display: none;}
}

/* 320px ~ 767px */
@media all and (min-width: 320px) and (max-width: 767px) {
  .people .visual .inner {height: 154px;}
  .people .contents-list a {width: auto;margin: 0 16px;}
  .people .contents-list li {width: 50%;margin: 0 0 32px 0;}
  .people .txt-box .txt {font-size: 16px;}
  .people .txt-box .txt-desc {font-size: 14px;}
  .people-contents .inner {padding: 24px 0 0 0;}
  .people-contents .more-btn {display: none;}
}